doctype html
html
  head
    title Members Only
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/eventListeners.js")
  body
    header 
      -if(user){
        div#upper-header 
          -if(!sessionUser.isMember){
            button#club-join-btn Join the Club
          -}
          -if(sessionUser.isAdmin){
            button#admin-mode-btn Admin Mode: Active
          -}
      -}

      div#lower-header 
        button.home-btn(onclick="redirectToHome()") Members Only
        div.header-btns-wrapper
          -if(!user){
            button.signup-btn(onclick="redirectToSignup()") Sign Up 
            button.login-btn(onclick="redirectToLogin()") Login
          -} else {
            button(onclick="redirectToAccountPage()") Username Goes Here
          -}



    block content
